<!-- boilerplate.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %> | Archivo</title>
    <!-- Include common stylesheets, scripts, etc. -->
    <!-- Include the name of the person who implemented it in the code in comments before the links-->
</head>
<body>
