*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#header{
    height: 4vw;
    width: 100%;
    box-shadow: 0 0 50px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
}

#header img{
    height: 1.65vw;
    margin-left: 7vw;
    filter: contrast(1.4) saturate(0.75);
}

#main #landing{
    height: 90%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

#part-1{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 2vw 5vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
height: 70%;
width: 55%;
}

#part-2{
    height: 70%;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.534);
    padding: 2vw 5vw;
    border-radius: 15px;
}

#part-1 #p1-image img{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 20rem;
    width: 30rem;
    border-radius: 7px;
}

#part-1 #p1-image{
    height: 100%;
    width: 100%; 
}


    
    .container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    }
    
    .container h1 {
    margin-bottom: 5px;
    font-size: 25px;
    color: white;
    }
    
    .container form {
    display: inline-block;
    margin-bottom: 5px;
    }
    
    .container label {
    display: block;
    font-size: 18px;
    }
    
    .container input,
    button {
    padding: 5px 10px;
    display: block;
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    }
    
    .container input[type="email"] {
    border: 1px solid #ccc;
    }
    
    .container input[type="password"] {
    border: 1px solid #ccc;
    }
    
    .container button[type="submit"] {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    }
    
    .container .options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    
    .container .buttons {
        padding: 10px 30px;
        width: 100%;
        color: white;
        border: 0;
        border-collapse: collapse;
        font-size: 20px;
        border-radius: 20px;
    }
 
    .google-sign-up,
    .microsoft-sign-up,
    .apple-sign-up,
    .slack-sign-up {
    background: transparent;
    width: 100%;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    }
    
    .container .google-sign-up:hover {
    background-color: #d04534;
    }
    
    
    .microsoft-sign-up:hover {
    background-color: #006ab8;
    }
    

    .apple-sign-up:hover {
    background-color: #25292b;
    }
    

    .container .slack-sign-up:hover {
    background-color: #3e0f40;
    }
    
    .container p {
    font-size: 12px;
    margin-bottom: 12px;
    }