<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Explore";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->

<!-- <link type="text/css" rel="stylesheet" href='/css/home.css"> -->

<link rel="stylesheet" type="text/css" href="/css/home.css">




<script src="/js/home.js"></script>

</body>
</html>
