<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Home";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->

<!-- <link type="text/css" rel="stylesheet" href='/css/home.css"> -->

<link rel="stylesheet" type="text/css" href="/css/home.css">


<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">
                <img src="/images/logo.svg" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="menu">
            <ul class="menu-items">
                <li>Explore</li>
                <li>Features</li>
                <li>About us</li>
                <li>Contact us</li>
            </ul>
        </div>
    </nav>


  </header>

<script src="/js/home.js"></script>

</body>
</html>
