<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Login";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->

<h1>Welcome to the login Page!</h1>
<p>This is the home login content.</p>

</body>
</html>
