<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Profile";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->

<h1>Welcome to the profile Page!</h1>
<p>This is the profile page content.</p>

</body>
</html>
