<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "SignUp";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<h1>Welcome to the signup Page!</h1>
<p>This is the signup page content.</p>

</body>
</html>
