<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Tasks";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->
<link rel="stylesheet" type="text/css" href="/css/tasks.css">

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#" onclick="navigateToHome()">
                <img src="/images/logo3.svg" alt="logo" class="logo-img">
            </a>
        </div>
        <div class="menu">
            <ul class="menu-items">
                <li><a href="" class="menu-links">Explore</a></li>
                <li><a href="" class="menu-links">Features</a></li>
                <li><a href="" class="menu-links">About us</a></li>
                <li><a href="" class="menu-links">Contact us</a></li>
            </ul>
        </div>
    </nav>
    


  </header>

</body>
</html>
