<!-- boilerplate.ejs -->
<%
    // define the page title
    var pageTitle = "Team Collab";
%>

<!-- dont change the boilerplate code path -->
<%- include('../layouts/boilerplate', { pageTitle: pageTitle }) %>


<!-- Specific page content starts here -->
<link rel="stylesheet" type="text/css" href="/css/teamcollab.css">

<h1>Welcome to the teamcollab Page!</h1>
<p>This is the teamcollab page content.</p>

</body>
</html>
